In [1]:
import pandas as pd

data = pd.read_csv('data/movie_bd_v5.xls.txt')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [3]:
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015

## Вопрос 1

У какого фильма из списка самый большой бюджет?

### Варианты ответов
- The Dark Knight Rises (tt1345836)
- Spider-Man 3 (tt0413300)
- Avengers: Age of Ultron (tt2395427)
- The Warrior's Way (tt1032751)
- Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [4]:
answers = ['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650']

In [5]:
data[data['imdb_id'].isin(answers)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007

In [6]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].revenue == data[data['imdb_id'].isin(answers)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015

## Вопрос 2

Какой из фильмов самый длительный (в минутах)?

### Варианты ответов
- The Lord of the Rings: The Return of the King (tt0167260)
- Gods and Generals (tt0167260)
- King Kong (tt0360717)
- Pearl Harbor (tt0213149)
- Alexander (tt0346491)

In [7]:
answers = ['tt0167260', 'tt0167260', 'tt0360717', 'tt0213149', 'tt0346491']

In [8]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].runtime == data[data['imdb_id'].isin(answers)].runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003

## Вопрос 3

Какой из фильмов самый короткий (в минутах)?

### Варианты ответов
- Home on the Range tt0299172
- The Jungle Book 2 tt0283426
- Winnie the Pooh tt1449283
- Corpse Bride tt0121164
- Hoodwinked! tt0443536

In [9]:
answers = ['tt0299172', 'tt0283426', 'tt1449283', 'tt0121164', 'tt0443536']

In [10]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].runtime == data[data['imdb_id'].isin(answers)].runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

## Вопрос 4

Какое число ближе к средней длительности фильма в датасете?

### Варианты ответов
- 115
- 110
- 105
- 120
- 100

In [11]:
answers = [115, 110, 105, 120, 100]

In [12]:
data_mean = data.runtime.mean()

In [14]:
result = answers[0]
for a in answers:
    if abs(result - data_mean) > abs(a - data_mean):
        result = a

In [15]:
result

110

In [16]:
answers[[abs(x - data_mean) for x in answers].index(min([abs(x - data_mean) for x in answers]))]

110

## Вопрос 5

Какое число ближе к медианной длительности фильма в датасете?

## Варианты ответов:
- 106
- 112
- 101
- 120
- 115

In [17]:
answers = [106, 112, 101, 120, 115]

In [18]:
data_mediana = data.runtime.median()

In [19]:
answers[[abs(x - data_mediana) for x in answers].index(min([abs(x - data_mediana) for x in answers]))]

106

## Вопрос 6

Какой самый прибыльный фильм?
Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.

## Варианты ответов:
- The Avengers tt0848228
- Minions tt2293640
- Star Wars: The Force Awakens tt2488496
- Furious 7 tt2820852
- Avatar tt0499549

In [20]:
data[(data.revenue - data.budget)==(data.revenue - data.budget).min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [21]:
answers = ['tt0848228', 'tt2293640', 'tt2488496', 'tt2820852', 'tt2820852']

In [22]:
data[data.imdb_id.isin(answers)]\
    [(data[data.imdb_id.isin(answers)].revenue - data[data.imdb_id.isin(answers)].budget)\
     ==(data[data.imdb_id.isin(answers)].revenue - data[data.imdb_id.isin(answers)].budget).min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015

## Вопрос 7


Какой фильм самый убыточный?

### Варианты ответов:
- Supernova tt0134983
- The Warrior's Way tt1032751
- Flushed Away tt0424095
- The Adventures of Pluto Nash tt0180052
- The Lone Ranger tt1210819

In [23]:
answers = ['tt0134983', 'tt1032751', 'tt0424095', 'tt0180052', 'tt1210819']

In [24]:
data[(data.revenue - data.budget) == (data.revenue - data.budget).min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [58]:
data[data.imdb_id.isin(answers)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008
612,tt0479952,150000000,603900354,Madagascar: Escape 2 Africa,Ben Stiller|Jada Pinkett Smith|David Schwimmer...,Eric Darnell|Tom McGrath,Still together. Still lost!,"Alex, Marty, Melman, Gloria, King Julien, Maur...",89,Family|Animation,DreamWorks Animation,10/30/2008,6.1,2008

In [26]:
data[data.imdb_id.isin(answers)]\
    [(data[data.imdb_id.isin(answers)].revenue - data[data.imdb_id.isin(answers)].budget)\
     == (data[data.imdb_id.isin(answers)].revenue - data[data.imdb_id.isin(answers)].budget).min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

## Вопрос 8

У скольких фильмов из датасета объем сборов оказался выше бюджета?

### Варианты ответов:
- 1478
- 1520
- 1241
- 1135
- 1398

In [27]:
len(data[data.revenue>data.budget])

1478

## Вопрос 9

Какой фильм оказался самым кассовым в 2008 году?

### Варианты ответов:
- Madagascar: Escape 2 Africa tt0479952
- Iron Man tt0371746
- Kung Fu Panda tt0441773
- The Dark Knight tt0468569
- Mamma Mia! tt0795421

In [29]:
answers = ['tt0479952', 'tt0371746', 'tt0441773', 'tt0468569', 'tt0795421']

In [32]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].revenue == data[data['imdb_id'].isin(answers)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

## Вопрос 10

Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?

### Варианты ответов:
- Winter's Tale tt1837709
- Stolen tt1656186
- Broken City tt1235522
- Upside Down tt1374992
- The Lone Ranger tt1210819

In [42]:
data_years = data[(data['release_year']>2012) & (data['release_year']<2014)]

In [46]:
data_profit = data_years['budget']-data_years['revenue']

In [55]:
data_years[data_years['budget']-data_years['revenue'] == data_years['budget']-data_years['revenue'].min()].copy()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1290,tt2016940,25000000,2054941,Man of Tai Chi,Keanu Reeves|Tiger Hu Chen|Jeremy Marinas|Stev...,Keanu Reeves,No Rules. No Mercy. Pure Fighting.,"In Beijing, a young martial artist's skill pla...",105,Action|Drama,Universal Pictures|Village Roadshow Pictures|C...,7/4/2013,5.6,2013

## Вопрос 11

Какого жанра фильмов больше всего?

### Варианты ответов:
- Action
- Adventure
- Drama
- Comedy
- Thriller

In [59]:
qq

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008
612,tt0479952,150000000,603900354,Madagascar: Escape 2 Africa,Ben Stiller|Jada Pinkett Smith|David Schwimmer...,Eric Darnell|Tom McGrath,Still together. Still lost!,"Alex, Marty, Melman, Gloria, King Julien, Maur...",89,Family|Animation,DreamWorks Animation,10/30/2008,6.1,2008

получаем список уникальных жанров в переменную word

In [149]:
words = list(set([y for x in data.genres.str.split('|') for y in x]))

In [150]:
words

['Adventure',
 'History',
 'Horror',
 'Family',
 'Western',
 'Science Fiction',
 'Music',
 'War',
 'Comedy',
 'Crime',
 'Documentary',
 'Foreign',
 'Mystery',
 'Action',
 'Thriller',
 'Fantasy',
 'Romance',
 'Drama',
 'Animation']

дополняем датафрейм колнками с именем жанра и проставляем значение True если строка содердит даннй жанр

In [154]:
for word in words:
    data[word] = data['genres'].str.contains(word)

- преобразовываем True в 1 и False в NaN для суммирования
- считаем общее количество жанров

In [195]:
import numpy as np
data.iloc[:,-19:-1].applymap(lambda x: 1 if x else np.nan).count()

Adventure          415
History             62
Horror             176
Family             260
Western             19
Science Fiction    248
Music               64
War                 58
Comedy             683
Crime              315
Documentary          8
Foreign              2
Mystery            168
Action             582
Thriller           596
Fantasy            222
Romance            308
Drama              782
dtype: int64

вычисляем жанр с максимальным кол-вом фильмов

In [200]:
data.iloc[:,-19:-1].applymap(lambda x: 1 if x else np.nan).count()\
    [data.iloc[:,-19:-1].applymap(lambda x: 1 if x else np.nan).count()==data.iloc[:,-19:-1].applymap(lambda x: 1 if x else np.nan).count().max()
                    ]

Drama    782
dtype: int64