In [2]:
import pandas as pd

data = pd.read_csv('data/movie_bd_v5.xls.txt')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [5]:
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015

## Вопрос 1

У какого фильма из списка самый большой бюджет?

### Варианты ответов
- The Dark Knight Rises (tt1345836)
- Spider-Man 3 (tt0413300)
- Avengers: Age of Ultron (tt2395427)
- The Warrior's Way (tt1032751)
- Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [36]:
answers = ['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650']

In [30]:
data[data['imdb_id'].isin(answers)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007

In [68]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].revenue == data[data['imdb_id'].isin(answers)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015

## Вопрос 2

Какой из фильмов самый длительный (в минутах)?

### Варианты ответов
- The Lord of the Rings: The Return of the King (tt0167260)
- Gods and Generals (tt0167260)
- King Kong (tt0360717)
- Pearl Harbor (tt0213149)
- Alexander (tt0346491)

In [71]:
answers = ['tt0167260', 'tt0167260', 'tt0360717', 'tt0213149', 'tt0346491']

In [72]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].runtime == data[data['imdb_id'].isin(answers)].runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003

## Вопрос 3

Какой из фильмов самый короткий (в минутах)?

### Варианты ответов
- Home on the Range tt0299172
- The Jungle Book 2 tt0283426
- Winnie the Pooh tt1449283
- Corpse Bride tt0121164
- Hoodwinked! tt0443536

In [73]:
answers = ['tt0299172', 'tt0283426', 'tt1449283', 'tt0121164', 'tt0443536']

In [74]:
data[data['imdb_id'].isin(answers)]\
    [data[data['imdb_id'].isin(answers)].runtime == data[data['imdb_id'].isin(answers)].runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

## Вопрос 4

Какое число ближе к средней длительности фильма в датасете?

### Варианты ответов
- 115
- 110
- 105
- 120
- 100

In [76]:
answers = [115, 110, 105, 120, 100]

In [84]:
data_avg = data.runtime.mean()
result = answers[0]

In [85]:
for a in answers:
    if abs(result - data_avg) > abs(a - data_avg):
        result = a

In [86]:
result

110

In [109]:
answers[[abs(x - data_avg) for x in answers].index(min([abs(x - data_avg) for x in answers]))]

110